<footer class="wc-footer">

    <div class="wc-footer__inner-wrapper">

        <a class="wc-footer__logo" href="">
            <i class="icon-wildcrafter-logo"></i>
        </a>

        <div class="wc-footer__menu">
            <div class="wc-footer__menu-pane">
                <div class="wc-footer__menu-pane-title">Shop</div>
                <div class="wc-footer__menu-pane-children">
                    <div class="wc-footer__menu-pane-child color-energy">
                        <a class="wc-footer__menu-pane-child-link" href="shop/inner-warrior/coffee/index.html">
                    Energy
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child color-focus">
                        <a class="wc-footer__menu-pane-child-link" href="shop/creative-genius/coffee/index.html">
                    Focus
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child color-calm">
                        <a class="wc-footer__menu-pane-child-link" href="shop/spiritual-chill/coffee/index.html">
                    Calm
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child color-defend">
                        <a class="wc-footer__menu-pane-child-link" href="shop/immune-shield/coffee/index.html">
                    Defend
                  </a>
                    </div>
                </div>
            </div>
            <div class="wc-footer__menu-pane">
                <div class="wc-footer__menu-pane-title">Learn</div>
                <div class="wc-footer__menu-pane-children">
                    <div class="wc-footer__menu-pane-child">
                        <a class="wc-footer__menu-pane-child-link" href="science/index.html">
                    Science
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child">
                        <a class="wc-footer__menu-pane-child-link" href="ingredients/index.html">
                    Meet Our Plants
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child">
                        <a class="wc-footer__menu-pane-child-link" href="faqs/index.html">
                    FAQs
                  </a>
                    </div>
                    <div class="wc-footer__menu-pane-child">
                        <a class="wc-footer__menu-pane-child-link" href="blog/index.html">
                    Blog
                  </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="wc-footer__buttons">
            <a href="" class="wc-footer__button">CONTACT US</a>
            <a href="" class="wc-footer__button">LOG IN</a>
        </div>

        <div class="wc-footer__social-links">
            <a class="wc-footer__social-link" href=""><i class="icon-instagram"></i></a>
            <a class="wc-footer__social-link" href=""><i class="icon-twitter"></i></a>
            <a class="wc-footer__social-link" href=""><i class="icon-facebook"></i></a>
        </div>

        <div class="wc-footer__disclaimer-text">
            <p>These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any disease.</p>
        </div>

        <div class="wc-footer__copyright-text">© Copyright of Wildcrafter, Inc. All rights reserved.</div>

    </div>

</footer>
