---
cart: true
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
---
<style>
    .container{
        padding: 0 !important; 
        max-width: 100% !important;       
    }
    .body{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .fixed_area {
        bottom: 0px;
    }
</style>
{{#partial "page"}}

<div class="page custom-cart-menu framework">
    
    <main class="page-content" data-cart>
        <!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->

        
        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>
            <div class="content-scroll ">
            <div class="cart-view-message" data-cart-status>
                    {{> components/cart/status-messages}}
            </div> 
            <div class="cart-view-content" data-cart-content>
                {{> components/cart/content}}
            </div>
            <div class="related-cards__products">    
            </div>
            <div class="fixed_area">
            <div data-cart-totals class="cart-page-content">
                {{> components/cart/totals}}
            </div>
            {{#if cart.show_primary_checkout_button}}
                <div class="cart-actions">
                    <a target ="_top" class="desktop-button custom-cart-btn mdc-button primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">Continue to checkout</a>
                    <a target ="_top" class="frame-button custom-cart-btn mdc-button primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">checkout</a>
                    {{#if cart.show_multiple_address_shipping}}
                        <a target ="_top" class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    {{/if}}
                </div>
            {{else}}
                <div class="cart-actions">
                    <a target ="_top" class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                </div>
            {{/if}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div target ="_top" class="cart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <section class="desktop-bc-cart">
                    <div class="shopping-cart shopping-cart--empty" id="js-shopping-cart-root" data-cart-id="">
                      <img class="shopping-cart__fill-your-cup-img" src="{{cdn 'images/fill_your_cup.svg'}}" alt="">
                      <img class="shopping-cart__empty-cup-img" src="{{cdn 'images/Coffee-Cup.png'}}" alt="">
                      <div>
                        <a class="shopping-cart__continue-shopping-button mdc-button primary" target="_parent" href="https://wildcrafter.com">continue shopping</a>
                      </div>
                    </div>
            </section>
        {{/if}}
        
    </main>
</div>
{{/partial}}
{{> layout/base}}
