<ul class="cart-totals">
    <li class="cart-total">
        <div class="cart-total-label mdc-typography-roman-regular-normal ">
            <strong class="mdc-typography-roman-regular-normal ">Discounts</strong>
        </div>
        <div class="cart-total-value mdc-typography-roman-regular-normal ">
            <span class="checkout-totals-discounts">Apply at checkout</span>
        </div>
    </li>

    <li class="cart-total first">
        <div class="cart-total-label mdc-typography-roman-regular-normal ">
            <strong class="mdc-typography-roman-regular-normal ">{{lang 'cart.checkout.subtotal'}}</strong>
        </div>
        <div class="cart-total-value mdc-typography-roman-regular-normal ">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span>{{cart.sub_total.formatted}}</span> {{else}} {{> components/common/login-for-pricing}} {{/or}}
        </div>
    </li>
    {{#if cart.gift_wrapping_cost.amount}}
    <li class="cart-total mdc-typography-roman-regular-normal ">
        <div class="cart-total-label mdc-typography-roman-regular-normal ">
            <strong>{{lang 'cart.checkout.gift_wrapping'}}</strong>
        </div>
        <div class="cart-total-value mdc-typography-roman-regular-normal ">
            <span>{{cart.gift_wrapping_cost.formatted}}</span>
        </div>
    </li>
    {{/if}} {{#if cart.shipping_handling.show_estimator}}
    <li class="cart-total shipping-line mdc-typography-roman-regular-normal  checkout-page-only">
        <div class="cart-total-label mdc-typography-roman-regular-normal">
            <strong>{{lang 'cart.checkout.shipping'}}</strong>
        </div>
        {{> components/cart/shipping-estimator cart.shipping_handling}}
    </li>
    <!-- {{/if}} {{#each cart.taxes}}
    <li class="cart-total mdc-typography-roman-regular-normal ">
        <div class="cart-total-label mdc-typography-roman-regular-normal ">
            <strong>{{name}}:</strong>
        </div>
        <div class="cart-total-value mdc-typography-roman-regular-normal ">
            <span>{{cost.formatted}}</span>
        </div>
    </li>
    {{/each}} -->

    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <li class="cart-total coupons-data-show-checkout">
                <div class="cart-total-label mdc-typography-roman-regular-normal ">
                    <strong>{{lang 'cart.coupons.code_label' code=code}}</strong>
                    <a class="coupons-remove-buttons" url="{{remove_url}}">{{lang 'cart.coupons.remove'}}</a>
                </div>
                <div class="cart-total-value mdc-typography-roman-regular-normal ">
                    <span>{{discount.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{/if}}    
    
    <li class="cart-total mdc-typography-roman-regular-normal checkout-page-show">
        <div class="cart-total-label mdc-typography-roman-regular-normal ">
            <strong>Total</strong>
        </div>
        <div class="cart-total-value cart-total-grandTotal mdc-typography-roman-regular-normal">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span>{{cart.grand_total.formatted}}</span> {{else}} {{> components/common/login-for-pricing}} {{/or}}
        </div>
    </li>
</ul>
