<div id="subscription-payment-edit">
        
    <div class="form-body">
        <ul class="form-checklist optimizedCheckout-form-checklist">
            <li class="">
                <div class="">
                    <div class="form-field">
                        <input name="paymentProviderRadio" class="form-checklist-checkbox" id="radio-braintree" type="radio" checked="">
                        <label class="form-label" for="radio-braintree">
                            <span class="paymentProviderHeader-name" data-test="payment-method-name">Credit Card</span>
                            <div class="paymentProviderHeader-cc">
                                <ul class="creditCardTypes-list">
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-visa">
                                                <img class="" src="{{cdn 'img/payment-methods/visa.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-mastercard">
                                                <img class="" src="{{cdn 'img/payment-methods/mastercard.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-american-express">
                                                <img class="" src="{{cdn 'img/payment-methods/american_express.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-discover">
                                                <img class="" src="{{cdn 'img/payment-methods/discover.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-jcb">
                                                <img class="" src="{{cdn 'img/payment-methods/mastercard.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-diners-club">
                                                <img class="" src="{{cdn 'img/payment-methods/diners.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form-checklist-body">
                    <div class="paymentMethod--creditCard">
                        <fieldset class="form-fieldset">
                            <div class="form-body">
                                <div class="form-ccFields">
                                    <div class="form-field">
                                        <input id="credit_card_number" class="form-input has-icon" type="tel" value="" placeholder="Credit Card Number">
                                    </div>
                                    <div class="form-field">
                                        <input id="name_onCard" class="form-input has-icon" type="tel" value="" placeholder="Name on Card">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    
                </div>
            </li>
            <li>
                <div class="">
                    <div class="form-field">
                        <input name="paymentProviderRadio" class="form-checklist-checkbox" id="radio-braintreepaypal" type="radio">
                        <label class="form-label" for="radio-braintreepaypal">
                            <img alt="PayPal" class="paymentProviderHeader-img" data-test="payment-method-logo" src="https://cdn11.bigcommerce.com/r-ff77d5fbde43ee12aebf134bfec8c8956c41f89b/img/payment-providers/paypalpaymentsprouk.png">
                            <div class="paymentProviderHeader-cc">
                                <ul class="creditCardTypes-list">
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-visa">
                                                <img class="" src="{{cdn 'img/payment-methods/visa.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-mastercard">
                                                <img class="" src="{{cdn 'img/payment-methods/mastercard.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-discover">
                                                <img class="" src="{{cdn 'img/payment-methods/discover.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-american-express">
                                                <img class="" src="{{cdn 'img/payment-methods/american_express.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <div class="form-field">
                        <input name="paymentProviderRadio" class="form-checklist-checkbox" id="radio-braintreepaypalcredit" type="radio">
                        <label class="form-label" for="radio-braintreepaypalcredit">
                            <img alt="PayPal Credit" class="paymentProviderHeader-img" data-test="payment-method-logo" src="https://cdn11.bigcommerce.com/r-ff77d5fbde43ee12aebf134bfec8c8956c41f89b/img/payment-providers/paypal-credit.png">   
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="">
                    <div class="form-field">
                        <input name="paymentProviderRadio" class="form-checklist-checkbox" id="radio-testgateway" type="radio">
                        <label class="form-label" for="radio-testgateway">
                            <span class="paymentProviderHeader-name" data-test="payment-method-name">Test Gateway</span>
                            <div class="paymentProviderHeader-cc">
                                <ul class="creditCardTypes-list">
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-visa">
                                                <img class="" src="{{cdn 'img/payment-methods/visa.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-american-express">
                                                <img class="" src="{{cdn 'img/payment-methods/american_express.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                    <li class="creditCardTypes-list-item">
                                        <span class="cardIcon">
                                            <div class="icon cardIcon-icon icon--medium" data-test="credit-card-icon-mastercard">
                                                <img class="" src="{{cdn 'img/payment-methods/mastercard.svg'}}" alt="{{lang 'account.payment_methods.card_types.credit_card'}}" title="{{lang 'account.payment_methods.card_types.credit_card'}}">
                                            </div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- <span class="paymentMethod-brand">{{lang 'account.payment_methods.card_types.credit_card'}} {{lang 'account.payment_methods.card_ending_in' last_four=last_4}}</span> -->
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="update-btn-center">
        <button class="button form-prefixPostfix-button--postfix button--tertiary optimizedCheckout-buttonSecondary mdc-button mdc-button--x-small secondary update_button">Update</button>
    </div>
    
</div>