<div class="form-field">
    <noscript>
        <div class="mdc-ripple-upgraded mdc-text-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
            <label class="form-label" for="{{id}}_input">{{label}}                
            </label>
            <input type="text" id="{{id}}_input" name="{{name}}" value="{{value}}" class="form-input" aria-required="{{required}}" data-label="{{label}}" />
        </div>
    </noscript>
    <div class="mdc-select" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
        <label class="form-label mdc-floating-label mdc-floating-label--float-above" for="{{id}}_select">{{label}}        
        </label>
        <select name="{{name}}" class="form-select" aria-required="{{required}}" id="{{id}}_select" data-label="{{label}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
            {{#if options}}
                <option value="">{{chooseprefix}}</option>
                {{#each options}}
                    <option {{#if selected}} selected {{/if}}value="{{value}}">{{label}}</option>
                {{/each}}
            {{/if}}
        </select>
    </div>
</div>
