{{inject 'passwordRequirements' settings.password_requirements}}

<style>
.form-row .form-field:nth-child(1){
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    display: block;
    margin: 0 0 2rem;
}
</style>
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading">{{lang 'create_account.heading' }}</h1>

    <div class="account account--fixed">
        <div class="account-body">
            {{#if forms.create_account.error}}
                {{> components/common/alert-error forms.create_account.error}}
            {{/if}}
            {{#if settings.account_creation_enabled}}
                <form class="form creat-account-form" action="{{urls.auth.save_new_account}}" data-create-account-form method="post" class="form">
                    <div class="form-row">
                        {{#each forms.create_account.account_fields }}
                            {{{dynamicComponent 'components/common/forms'}}}
                        {{/each}}
                        {{#each forms.create_account.address_fields }}
                            {{{dynamicComponent 'components/common/forms'}}}
                        {{/each}}
                        {{inject 'required' (lang 'common.required')}}
                        {{inject 'state_error' (lang 'errors.state_error')}}
                    </div>
                    {{{ forms.create_account.recaptcha.markup}}}
                    <div class="form-actions">
                        <a class="forgot-password" href="{{urls.auth.login}}">HAVE AN ACCOUNT? SIGN IN</a>
                        <!-- <input type="submit" class="button button--primary" value="{{lang 'forms.create_account.submit_value' }}" /> -->
                        <Button type="submit" class="mdc-button mdc-button--primary" value="{{lang 'forms.create_account.submit_value' }}">{{lang 'forms.create_account.submit_value' }}</Button>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
