{{#partial "page"}}
    <div class="account account--fixedSmall">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>
        <p>{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <!-- <label class="form-label" for="email">{{lang 'common.email_address'}}</label> -->
            <div class="form-prefixPostfix wrap">
                <div class="mdc-text-field mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon icon-align-left">mail</i>
                        <label class="form-label mdc-floating-label label-align-left" for="login_email">{{lang 'common.email_address'}}</label>
                        <input class="form-input mdc-text-field__input" name="email" id="email" type="email">
                </div>
                <!-- <input class="form-input" name="email" id="email" type="email" formnovalidate> -->
                <button type="submit" class="button button--primary form-prefixPostfix-button--postfix mdc-button mdc-button-primary">{{lang 'reset_password.heading' }}</button>
            </div>
        </form>
    </div>
{{/partial}}
{{> layout/base}}
